<div class="home-container">
  <div class="home__header">
    <div class="home__header__left">
      <img mat-card-avatar src="assets/fb-head.jpg"/>
      <div class="input">
        <mat-icon class="search-icon">search_outline</mat-icon>
        <form #form="ngForm" (ngSubmit)="searchUser(form)">
          <input name="searchText" placeholder="Search Facebook" type="text">
          <button style="display: none;" type="submit"></button>
        </form>
      </div>

    </div>
    <div class="home__header__middle">
      <div class="active">
        <mat-icon>home</mat-icon>
      </div>
      <div>
        <mat-icon>ondemand_video</mat-icon>
      </div>
      <div>
        <mat-icon>store</mat-icon>
      </div>
      <div>
        <mat-icon>group</mat-icon>
      </div>
      <div>
        <mat-icon>flag</mat-icon>
      </div>

    </div>
    <div class="home__header__right">
      <div>
        <img
          alt=""
          mat-card-avatar
          [src]="user?.avatar">
        <span class="name">{{ user?.firstName || 'quan'}}</span>
      </div>
      <div>
        <mat-icon>add</mat-icon>
      </div>

      <div>
        <mat-icon matBadge="4"
                  matBadgeColor="primary"
                  matBadgeOverlap="false"
                  matBadgePosition="above after"> forum
        </mat-icon>
      </div>

      <div>
        <mat-icon matBadge="3"
                  matBadgeColor="warn"
                  matBadgeOverlap="false">notifications
        </mat-icon>
      </div>


      <div>

        <mat-icon [matMenuTriggerFor]="menu">expand_more</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> Logout
          </button>
        </mat-menu>
      </div>

    </div>
  </div>

  <div class="home__body">

    <div class="home__body__sidebarLeft">
      <div class="inside">
        <div class="user-avatar">
          <img
            alt=""
            mat-card-avatar
            src="{{ user?.avatar }}">
          <span class="name">{{ user?.firstName || 'quan'}} {{ user?.lastName }}</span>
        </div>
        <div>
          <mat-icon> local_hospital</mat-icon>
          <span class="covid">COVID-19 Information Center</span>
        </div>

        <div>
          <mat-icon>flag</mat-icon>
          <span>Pages</span>
        </div>

        <div>
          <mat-icon>people</mat-icon>
          <span>Friends</span>
        </div>

        <div>
          <mat-icon> chat</mat-icon>
          <span>Messenger</span>
        </div>

        <div>
          <mat-icon>store</mat-icon>
          <span>Marketplace</span>
        </div>

        <div>
          <mat-icon>video_library</mat-icon>
          <span>Videos</span>
        </div>

        <div>
          <mat-icon class="see-more">expand_more</mat-icon>
          <span>See More</span>
        </div>

      </div>
    </div>

    <div class="home__body__contentMiddle">

      <div class="home__body__contentMiddle__top">
        <!--IMAGE CARDS-->
        <mat-card *ngFor="let i of images" class="image-card">
          <img alt="bg"
               class="bg" src="{{ i }}">
          <mat-card-content>
            <img
              alt="avatar"
              class="avatar" src="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg">
            <span class="card-name">quan le</span>
          </mat-card-content>
        </mat-card>

      </div>

      <div class="home__body__contentMiddle__center">
        <mat-card class="post-message">
          <mat-card-header class="post-message-header"
                           style="padding-bottom: 20px; border-bottom: 1px solid lightgray;">
            <img
              alt=""
              mat-card-avatar
              [src]="user?.avatar">
            <form #form="ngForm" (ngSubmit)="postMessage(form)">
              <input class="on-your-mind" name="message" ngModel placeholder="What's on your mind?" type="text">
              <button style="display: none;" type="submit"></button>
            </form>

          </mat-card-header>
          <mat-card-content class="card-body">
            <div>
              <mat-icon color="accent">videocam</mat-icon>
              <span>Live Video</span>
            </div>

            <div>
              <mat-icon color="primary">photo_album</mat-icon>
              <span>Photo/Video</span>
            </div>

            <div>
              <mat-icon color="warn">mood</mat-icon>
              <span>Feeling/Activity</span>
            </div>
          </mat-card-content>
        </mat-card>

        <!--Loop Through All Posts From Database and Display-->
        <mat-card *ngFor="let p of posts" class="posts">
          <mat-card-header class="posts__header">
            <img alt="{{ p?.title }}" mat-card-avatar [src]="p?.avatar">
            <div class="posts__header__right">
              <span>{{ p?.time?.seconds * 1000 | date:'shortTime' }}</span>
              <h3>{{ p?.title }}</h3>
            </div>
          </mat-card-header>
          <mat-card-content class="posts__body">
            <p>{{ p?.message }}</p>
          </mat-card-content>
        </mat-card>


      </div>


    </div>

    <div class="home__body__feedRight">
      <div class="inside">
        <img alt="feed" src="assets/feed.jpg">
      </div>


    </div>

  </div>
</div>
