<div class="login-container">

  <header class="login__header">
    <div class="login__header__left">
      <img alt="logo" src="assets/fb-logo-1.jpg">
      <h2>Facebook helps you connect and share with the people in your life.</h2>
    </div>
    <div class="login__header__right">
            <mat-card class="login__header__right__card">
              <mat-card-content class="login__header__right__card__content">
                <form #form="ngForm" (ngSubmit)="login(form)" class="login-form">
                  <input name="email" ngModel placeholder="Email address or phone number" required type="text">
                  <input name="password" ngModel placeholder="Password" required type="password">
                  <button [disabled]="form.invalid || form.pending"
                          class="login-button"
                          *ngIf="!form.pending"
                          type="submit">Log In
                  </button>
                </form>
      <a>Forgotten account?</a>
      <hr>
                <button class="create-account" (click)="openRegister()">Create New Account</button>
              </mat-card-content>
            </mat-card>

      <p class="tagline"><strong>Create a Page</strong> for a celebrity, band or business.</p>
    </div>


  </header>


  <footer class="login__footer">
    <img alt="footer" src="assets/footer_crop.jpg">
  </footer>
</div>
